Repository depuits/huurfeestartikelen.be: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

fixed precommit hook
  .husky/pre-commit
Due: none

removed old huskyfile
  .huskyrc
Due: none

locked node version in ci/cd
  .drone.yml
Due: none

fixed tests
  test.js
Due: prettier --write, eslint

updated readme
  README.md
  package-lock.json
Due: none

updated template info
  build.js
  src/partials/footer.hbs
  src/partials/header.hbs
  src/shop-single.hbs
Due: prettier --write, eslint

fix tests and added extern web host
  .drone.yml
  build.js
  src/partials/header.hbs
  test.js
Due: prettier --write, eslint

actual fix test
  test.js
Due: prettier --write, eslint

fix deploy
  .drone.yml
Due: none

seperate deploy
  .drone.yml
Due: none

contents update
  assets/img/00d78156-b25e-4f6b-ad31-972cace21205.png
  assets/img/00d78156-b25e-4f6b-ad31-972cace21205.xcf
  build.js
  src/about.hbs
  src/contact.hbs
  src/partials/footer.hbs
  src/partials/header.hbs
Due: prettier --write, eslint

github deploy
  .github/workflows/deploy.yml
  .nojekyll
Due: none

removed failing test
  test.js
Due: prettier --write, eslint

update github action
  .github/workflows/deploy.yml
Due: none

fixed github action
  .github/workflows/deploy.yml
Due: none

github action repo rename
  .github/workflows/deploy.yml
Due: none

github CNAME and roothpath image fix
  layouts/article.hbs
  src/CNAME
Due: none

title fix
  src/partials/header.hbs
Due: none

custom workflow dispatch github changed contact mail layouts watching contact form fix click on image in catalog
  .github/workflows/deploy.yml
  assets/css/custom.css
  build.js
  layouts/collection.hbs
  scripts/watch.js
  src/contact.hbs
  src/partials/footer.hbs
Due: prettier --write, stylelint, eslint

add max count
  src/articles/schalen.md
Due: none

moved files and fixed broken links
  README.md
  build.js
  helpers/handlebarsBasics.js
  layouts/article.hbs
  layouts/collection.hbs
  package-lock.json
  package.json
  src/artikelen/Decoratieve_flessen.md
  src/artikelen/cava_glazen.md
  src/artikelen/evenement_bekers.md
  src/artikelen/partytent_3mx9m.md
  src/artikelen/partytent_5mx10m.md
  src/artikelen/schalen.md
  src/artikelen/stoelen.md
  src/artikelen/tafels.md
  src/contact.hbs
  src/index.hbs
  src/partials/footer.hbs
  src/partials/header.hbs
Due: prettier --write, eslint

removed old files
  assets/img/banner_img_01.jpg
  assets/img/banner_img_02.jpg
  assets/img/banner_img_03.jpg
  assets/img/brand_01.png
  assets/img/brand_02.png
  assets/img/brand_03.png
  assets/img/brand_04.png
  assets/img/category_img_01.jpg
  assets/img/category_img_02.jpg
  assets/img/category_img_03.jpg
  assets/img/feature_prod_01.jpg
  assets/img/feature_prod_02.jpg
  assets/img/feature_prod_03.jpg
Due: none

improved index page redirect
  src/index.hbs
  src/partials/header.hbs
Due: none

added canonical link on index redirect
  src/index.hbs
Due: none

fixed build
  build.js
Due: prettier --write, eslint

updated site description
  build.js
  src/artikelen/cava_glazen.md
  src/artikelen/evenement_bekers.md
  src/partials/header.hbs
Due: prettier --write, eslint

added sitemap
  build.js
  package-lock.json
  package.json
Due: prettier --write, eslint

added article photos
  build.js
  src/about.hbs
  src/artikelen/decoratieve_flessen/1.jpg
  src/artikelen/decoratieve_flessen/2.jpg
  src/artikelen/decoratieve_flessen/3.jpg
  src/artikelen/decoratieve_flessen/4.jpg
  src/artikelen/decoratieve_flessen/5.jpg
  src/artikelen/decoratieve_flessen/6.jpg
  src/artikelen/decoratieve_flessen/7.jpg
  src/artikelen/partytent_5mx10m.md
  src/artikelen/partytent_5mx10m/1.jpg
  src/artikelen/partytent_5mx10m/2.jpg
  src/artikelen/partytent_5mx10m/3.jpg
  src/artikelen/partytent_5mx10m/4.jpg
  src/artikelen/partytent_5mx10m/5.jpg
  src/artikelen/partytent_5mx10m/6.jpg
  src/artikelen/partytent_5mx10m/7.jpg
  src/artikelen/tafels/1.jpg
  src/artikelen/tafels/2.jpg
  src/artikelen/tafels/3.jpg
  src/artikelen/tafels/4.jpg
  src/artikelen/tafels/5.jpg
  src/index.hbs
  src/partials/footer.hbs
  src/partials/header.hbs
Due: prettier --write, eslint

added articles
  helpers/handlebarsBasics.js
  layouts/article.hbs
  layouts/collection.hbs
  src/artikelen/bolletjes.md
  src/artikelen/bolletjes/5.jpg
  src/artikelen/decoratie_op_maat.md
  src/artikelen/decoratie_op_maat/1.jpg
  src/artikelen/decoratie_op_maat/2.jpg
  src/artikelen/decoratie_op_maat/3.jpg
  src/artikelen/decoratie_op_maat/4.jpg
  src/artikelen/decoratie_op_maat/5.jpg
  src/artikelen/decoratie_op_maat/6.jpg
  src/artikelen/decoratie_op_maat/7.jpg
  src/artikelen/decoratie_op_maat/8.jpg
  src/artikelen/lantaarn.md
  src/artikelen/vuurkorf/photo_2023-08-09_14-16-33.jpg
  src/artikelen/vuurkorf/photo_2023-08-09_14-17-24.jpg
Due: prettier --write, eslint

fixed nan
  helpers/handlebarsBasics.js
Due: prettier --write, eslint

more articles and fixed alt on collection image
  layouts/collection.hbs
  src/artikelen/decoratie_op_maat/01.jpg
  src/artikelen/decoratie_op_maat/02.jpg
  src/artikelen/decoratie_op_maat/03.jpg
  src/artikelen/decoratie_op_maat/04.jpg
  src/artikelen/decoratie_op_maat/05.jpg
  src/artikelen/decoratie_op_maat/06.jpg
  src/artikelen/decoratie_op_maat/07.jpg
  src/artikelen/decoratie_op_maat/08.jpg
  src/artikelen/decoratie_op_maat/09.jpg
  src/artikelen/decoratie_op_maat/10.jpg
  src/artikelen/lollywafelijzer.md
  src/artikelen/lollywafelijzer/01.jpg
  src/artikelen/lollywafelijzer/02.jpg
  src/artikelen/lollywafelijzer/03.jpg
  src/artikelen/lollywafelijzer/04.jpg
  src/artikelen/lollywafelijzer/maxima-electric-waffle-maker-2-user-manual.pdf
  src/artikelen/tafels.md
  src/artikelen/vuurkorf.md
  src/artikelen/vuurkorf/01.jpg
  src/artikelen/vuurkorf/02.jpg
  src/artikelen/vuurkorf/03.jpg
Due: none

Update .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Due: none

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.js)
  stylelint: any of: *.css
  eslint: any of: *.js
